# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python
tqdm>=4.41.0
plotly
streamlit
pandas
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
